
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    

}

.content{
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    
}

.login{
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.logo{
   
    width: 120px;
    height: 120px;
    margin-bottom: 1em;
    overflow: hidden;
}


.formu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5%;
    height: 5%;
    
}


.formu .texto{

    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 50%;
    height: 2.1em;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.2em;
    background-color: rgb(255, 255, 255);
    border: 2px solid #3498db;
    color: black;
}

.formu .texto:nth-last-child(2){
    font-size: 1.2em;
}

.contbtn{
    text-align: center;

}

.btn{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    color: #3498db;
   
}





.btn:hover{
    color: #000;
}


.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.2s;
}


.btn::before{
    top: 0;
  border-radius: 0 0 50% 50%;
}

.btn:hover::before{
    height: 180%;
}

.btn:active{
    height: 0%;
    transition: 0.2s;
}

